<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
</head>

<body>
    <header class="header row">
        <img src="./images/location.png" class="header__image" alt="an image of a map and location">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </header>

    <main class="main row">
        <section class="main__tagging tagging col-3">

           <h2>Tagging</h2>
            
            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">
                <fieldset class="tagging__fieldset">
                    <legend>Add a new GeoTag</legend>
                <label for="latitude">Latitude:</label>
                    <input type="text" placeholder="49.01379" id="latitude_tagging" name="latitude_tagging" value="<%= latitude %>" readonly>
                <label for="longitude">Longitude:</label>  
                    <input type="text" placeholder="8.390071" id="longitude_tagging" name="longitude_tagging" value="<%= longitude %>" readonly>
                <label for="name">Name:</label>
                    <input type="text" placeholder="e.g. Central Berlin" id="name" name="name" maxlength="10" required>
                <label for="hashtag">Hashtag:</label>
                    <input type="text" placeholder="e.g. #ber" id="hashtag" name="hashtag" pattern="#[A-Za-z0-9_]+"maxlength="11">
                
                <input type="submit" name="submit" value="Add Tag" id="addtag"/>
                </fieldset>
            </form>

         </div></section>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery col-8">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                <fieldset class="discovery__fieldset">
                    <legend>Search</legend>
                    <div>
                        <label for="searchterm">Search term or keywords:</label>
                        <input type="text" id="searchterm" name="searchterm" placeholder="e.g. Karlsruhe" required>    
                        <input type="hidden" id="latitude_discovery" name="latitude_discovery" value="<%= latitude %>">
                        <input type="hidden" id="longitude_discovery" name="longitude_discovery" value="<%= longitude %>">
                    </div>
                <div>
                    <input type="submit" value="Search">
                </div>
                </fieldset>

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper">
                <div class="discovery__taglist">
                    <ul class="discovery__results" id="discoveryResults">
                        <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                            <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="discovery__map">
                    <img data-tagList="<%=JSON.stringify(taglist) %>" src="./images/mapview.jpg" alt="a map with locations" id="mapView" />
                    <span>Result map</span>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
    <script type="module" src="./javascripts/geotagging.js"></script>
</body>

</html><!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
